<div class="container-fluid">
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="text-center">
        <h2>Location <%= @car.brand %> <%= @car.model %></h2>
      </div>
      <div class="form-control m-4 p-4 bg-white">
        <%= simple_form_for [@car, @booking], data: { turbo: false } do |f| %>
          <%= f.input :start_date,
                    label: "Date de début",
                    as: :string,
                    input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_date,
            as: :hidden,
            input_html: { value: f.object.start_date } %>
          <%= f.button :submit, class:"btn main-btn", value: "Réservez maintenant" %>
          <%= link_to 'Retour', request.referer, class:"btn secondary-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
