<% if booking_state == "pending" %>
  <span class="text-warning">En attente</span>
<% elsif booking_state == "accepted" %>
    <span class="text-success">accepter</span>
<% elsif booking_state == "declined" %>
    <span class="text-danger">Refuser</span>
<% elsif booking_state == "cancelled" %>
    <span class="text-secondary">Annuler</span>
<% elsif booking_state == "completed" %>
    <span class="text-success">Compléter</span>
<% elsif booking_state == "reviewed" %>
    <span class="text-success"><strong>Approuvé</strong></span>
<% end %>
