<div class="row">
  <% count = 0 %>
  <% @cars.each do |car| %>
    <% if Time.now.wday == 5 && count >= 6 %>
      <% break %>
    <% end %>
    <div class="col-md-3 my-4">
      <%= link_to car_path(car), style: 'color: inherit; text-decoration: none;' do %>
        <div class="d-flex justify-content-between flex-column rounded-4">
          <%= render 'shared/image_carousel', carousel_id: car.id, photos: car.photos %>
          <p class="fs-4 mb-0 fw-medium"><span class="fw-bold"><%= car.brand %></span></p>
          <p class="mb-0"><%= car.model %></p>
          <p class="fs-6 mb-0"><strong><%= number_with_delimiter(car.price_per_day, delimiter: ',', separator: '.') %>€</strong>/Jour</p>
        </div>
      <% end %>
    </div>
    <% count += 1 %>
  <% end %>
</div>
