<div id="carousel-<%= carousel_id %>" class="carousel slide">
  <div class="carousel-indicators">
    <% photos.each_with_index do |photo, index| %>
      <button type="button" data-bs-target="#carousel-<%= carousel_id %>" data-bs-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>" aria-current="<%= index == 0 ? 'true' : 'false' %>" aria-label="Slide <%= index + 1 %>"></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <%= cl_image_tag photo.key, height: 400, width: 600, crop: :fill, class: "img-fluid rounded-4 w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= carousel_id %>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Retour</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= carousel_id %>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>
