<div class="d-flex justify-content-between">
  <div class="mt-5 d-flex flex-row bg-white p-4 w-100 justify-content-between rounded-4 shadow">
    <div class="d-flex flex-row w-75">
      <%= cl_image_tag current_user.photo.key, width: 250, height: 250, crop: :fill, gravity: :face, radius: :max %>
      <div class="mx-4 d-flex flex-column justify-content-center w-100">
        <% bookings = current_user.rented_bookings %>
        <% rating_count = 0 %>
        <% sum_of_ratings = 0 %>
        <% bookings.each do |booking| %>
          <% if booking.state == "reviewed" %>
            <% rating_count += 1 %>
            <% sum_of_ratings += booking.rating %>
          <% end %>
        <% end %>
        <div class="d-flex align-items-center">
          <h4><%= current_user.first_name %> <%= current_user.last_name %> - </h4>
          <div class="d-flex align-items-center">
            <p class="pt-2 px-2 fs-3 text-main"><%= rating_count == 0 ? "Pas de note" : format('%.2f', sum_of_ratings.to_f / rating_count) %></p>
            <% if rating_count != 0 %>
              <p><%= render "shared/star", star_filled: true %></p>
            <% end %>
          </div>
        </div>
        <p><%= current_user.email %></p>
        <p><%= current_user.description ? current_user.description : "Pas de description" %></p>
      </div>
    </div>
    <div>
      <%= link_to "Editer le profil", edit_user_registration_path, class: "btn main-btn" %>
    </div>
  </div>
</div>

<% if !current_user.bookings.empty? || !current_user.rented_bookings.empty? %>
    <h1 class="text-center mt-5">Statistiques</h1>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="rounded-4 bg-white shadow text-center p-4">
          <h2 class="text-main"><%= number_with_delimiter(current_user.bookings.count) %></h2>
          <h3>Réservation</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rounded-4 bg-white shadow text-center p-4">
          <h2 class="text-main"><%= number_with_delimiter(current_user.rented_bookings.count) %></h2>
          <h3>Réservation de location</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rounded-4 bg-white shadow text-center p-4">
          <h2 class="text-main"><%= number_with_delimiter(current_user.cars.count) %></h2>
          <h3>Emplacement</h3>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-md-4">
        <div class="rounded-4 bg-white shadow text-center p-4">
          <h2 class="text-green"><%= number_with_delimiter(current_user.rented_bookings.sum { |booking| calculate_amout_paid(booking, true) }) %>€</h2>
          <h3>Reçu</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rounded-4 bg-white shadow text-center p-4">
          <% spend = current_user.bookings.sum { |booking| calculate_amout_paid(booking, true) } %>
          <% earned = current_user.rented_bookings.sum { |booking| calculate_amout_paid(booking, true) } %>
          <% difference = earned - spend %>
          <h2 class="<%= difference >= 0 ? "text-green" : "text-red" %>"><%= number_with_delimiter(difference) %>€</h2>
          <h3>Différence</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rounded-4 bg-white shadow text-center p-4">
          <h2 class="text-red"><%= number_with_delimiter(current_user.bookings.sum { |booking| calculate_amout_paid(booking, true) }) %>€</h2>
          <h3>Dépenser</h3>
        </div>
      </div>
    </div>
<% end %>

<% if !current_user.cars.empty? %>
  <h1 class="text-center mt-5">Mes emplacements</h1>
  <div class="d-flex justify-content-end">
    <%= link_to "Rent your car", new_profile_car_path, class: "btn main-btn" %>
  </div>
  <%= render "shared/cars_list" %>
<% end %>
