<div class="container-fluid">
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="text-center">
        <h2>Réservez votre emplacement Food Truck</h2>
      </div>
      <div class="form-control m-4 p-4 bg-white">
        <%= simple_form_for [:profile, @car] do |f| %>
          <%= f.input :brand, label: 'Entreprise' %>
          <%= f.input :model, label: 'Description'%>
          <%= f.input :price_per_day, label: 'Prix' %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.input :address, label: 'Localisation',
            input_html: {
              class: "d-none",
              data: {
                address_autocomplete_target: "address"
              }
            },
            wrapper_html: {
              data: {
                controller: "address-autocomplete",
                address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
              }
            }
          %>
          <%= f.button :submit, class: "btn main-btn", value: "Mettre en ligne" %>
          <%= link_to 'Retour', request.referer, class: "btn secondary-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
