<% if current_user.bookings.empty? || current_user.rented_bookings.empty? %>
  <% if current_user.bookings.any? %>
    <div class="pt-4 tab-pane fade show active p-4 bg-white rounded-4" id="booked" role="tabpanel" aria-labelledby="booked-tab" tabindex="0">
      <h1 class="mb-4"><strong> Food truck réservé</strong></h1>
      <%= render "shared/bookings_list" %>
    </div>
  <% elsif current_user.rented_bookings.any? %>
    <div class="pt-4 tab-pane fade show active p-4 bg-white rounded-4" id="rented" role="tabpanel" aria-labelledby="rented-tab" tabindex="0">
      <h1 class="mb-4"><strong>Food truck loué</strong></h1>
      <div class="row">
        <div class="row">
          <% @rented_bookings.each do |rented_booking| %>
            <div class="col-md-3 mb-4">
              <%= link_to profile_booking_path(rented_booking), style: 'color: inherit; text-decoration: none;' do %>
                <div class="d-flex justify-content-between flex-column rounded-4">
                  <%= render 'shared/image_carousel', carousel_id: rented_booking.id, photos: rented_booking.car.photos %>
                  <p class="fs-4 mb-0 fw-medium"><span class="fw-bold"><%= rented_booking.car.brand %></span> - <%= render 'shared/booking_state', booking_state: rented_booking.state %></p>
                  <p class="mb-0"><%= rented_booking.car.model %></p>
                  <p class="fs-6 mb-0"><strong><%= number_with_delimiter(rented_booking.car.price_per_day, delimiter: ',', separator: '.') %>€</strong>/jour</p>
                  <p class="mb-0 fs-6">Loué par <strong><%= rented_booking.user.first_name %> <%= rented_booking.user.last_name %></strong></p>
                  <p class="mb-0 fs-6">Le <strong><%= rented_booking.start_date.strftime("%d/%m/%Y") %></strong></p>
                  <p class="mb-0 fs-6">Total revenue: <strong><%= number_with_delimiter(calculate_amout_paid(rented_booking), delimiter: ',', separator: '.') %>€</strong></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="pt-4 tab-pane fade show active p-4 bg-white rounded-4" id="booked" role="tabpanel" aria-labelledby="booked-tab" tabindex="0">
    <h1 class="mb-4">Emplacement que j'ai réservé</h1>
    <%= render "shared/bookings_list" %>
  </div>
  <div class="pt-4 tab-pane fade p-4 bg-white rounded-4" id="rented" role="tabpanel" aria-labelledby="rented-tab" tabindex="0">
    <h1 class="mb-4">Emplacement que j'ai loué</h1>
    <div class="row">
      <% @rented_bookings.each do |rented_booking| %>
        <div class="col-md-3 mb-4">
          <%= link_to profile_booking_path(rented_booking), style: 'color: inherit; text-decoration: none;' do %>
            <div class="d-flex justify-content-between flex-column rounded-4">
              <%= render 'shared/image_carousel', carousel_id: rented_booking.id, photos: rented_booking.car.photos %>
              <p class="fs-4 mb-0 fw-medium"><span class="fw-bold"><%= rented_booking.car.brand %></span> - <%= render 'shared/booking_state', booking_state: rented_booking.state %></p>
              <p class="mb-0"><%= rented_booking.car.model %></p>
              <p class="fs-6 mb-0"><strong><%= number_with_delimiter(rented_booking.car.price_per_day, delimiter: ',', separator: '.') %>€</strong>/jour</p>
              <p class="mb-0 fs-6">Réservé par  <strong><%= rented_booking.user.first_name %> <%= rented_booking.user.last_name %></strong></p>
              <p class="mb-0 fs-6">Loué le <strong><%= rented_booking.start_date.strftime("%d/%m/%Y") %></strong></p>
              <p class="mb-0 fs-6">Total revenue: <strong><%= number_with_delimiter(calculate_amout_paid(rented_booking), delimiter: ',', separator: '.') %>€</strong></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
