<div class="text-start">
  <h5>Information de l'emplacement</h5>
  <hr>
  <p class="mb-0"><strong>Entreprise:</strong> <%= car.brand %></p>
  <p class="mb-0"><strong>Description::</strong> <%= car.model %></p>
  <p class="mb-0"><strong>Prix:</strong> <%= number_with_delimiter(car.price_per_day, delimiter: ',', separator: '.') %>€/Jour</p>
  <p class="mb-0"><strong>Localisation:</strong> <%= car.address %></p>
  <%= link_to "Plus d'infos", car_path(car), class: "btn main-btn" %>

</div>
