<h1 class="mt-4">Liste des emplacements disponibles</h1>
<div class="row justify-content-cnter">
  <div class="col-sm-12 my-3">
    <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
      <%#= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Rechercher un emplacement"
        %>
      <%#= submit_tag "Rechercher", name: "", class: "btn main-btn" %>
    <% end %>
  </div>
</div>
<div style="width: 100%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <h2 class="mt-4"><strong>Food Truck</strong></h2>
<%= render "shared/cars_list" %>
